<div class="invoice-title row">
    <div class="">
        <div class="col-md-12">
            <img src="http://localhost:5000/public/uploads/1671895424887IMG_20210424_153943_134.jpg" alt="" height="35">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>{{title}} report<br>
                <span class="small">{{datetime}} {{time}}</span>
            </h2>
        </div>
    </div>
</div>