<!-- Footer Start -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                © <a href="#" target="_blank">Copyright of Saincraft Technologies</a>
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->