<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu left-side-menu-detached content-main">

  <div class="leftbar-user">
    <a href="javascript: void(0);">
      <span class="leftbar-user-name">{{profile.firstname}} {{profile.lastname}}</span>
    </a>
  </div>
  <!--- Sidemenu -->
  <ul class="metismenu side-nav side-nav-light">
    <li class="side-nav-title side-nav-item">Navigation</li>
    <li class="side-nav-item">
      <a href="/" class="side-nav-link">
        <i class="dripicons-list"></i>
        <span>Profile </span>
      </a>
    </li>
    {{!-- <li class="side-nav-item">
      <a href="/churches" class="side-nav-link">
        <i class="mdi mdi-church"></i>
        <span>Churches </span>
      </a>
    </li> --}}
    {{!-- <li class="side-nav-item">
      <a href="/tithes" class="side-nav-link">
        <i class="dripicons-jewel"></i>
        <span>Tithe </span>
      </a>
    </li> --}}
    <li class="side-nav-item">
      <a href="#" class="side-nav-link">
        <i class="dripicons-gear"></i>
        <span>Settings </span>
        <span class="menu-arrow"></span>
      </a>
      <ul class="side-nav-second-level" aria-expanded="false">
        <li class="side-nav-item">
          <a href="/plans" aria-expanded="false">Subscription Plans
          </a>
        </li>
        <li class="side-nav-item">
          <a href="currencies" aria-expanded="false">Currency
          </a>
        </li>
        <li class="side-nav-item">
          <a href="/countries" aria-expanded="false">Countries
          </a>
        </li>
        <li class="side-nav-item">
          <a href="/regions" aria-expanded="false">Regions
          </a>
        </li>
        <li class="side-nav-item">
          <a href="/methods" aria-expanded="false">Payment Methods
          </a>
        </li>
      </ul>
    </li>
  </ul>
  <div class="clearfix"></div>
</div>