<div class="table-responsive-sm">
    <table id="basic-datatable" class="table table-striped dt-responsive nowrap" width="100%">
        <thead class="thead-dark">
            <tr>
                <th>name</th>
                <th width="15%">options</th>
            </tr>
        </thead>
        <tbody>
            {{#each categories}}
            <tr>
                <td>
                    {{name}}
                <td>
                    <div class="dropdown text-center">
                        <button type="button"
                            class="btn btn-sm btn-icon btn-rounded btn-outline-secondary dropdown-btn dropdown-toggle arrow-none card-drop"
                            data-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-vertical"></i></button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item"
                                onclick="rightModal('/expenses/categories/edit/{{id}}', 'update expense category');">
                                edit
                            </a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item"
                                onclick="confirmModal('/expenses/categories/delete/{{id}}', showAllExpenseCategories )">
                                delete
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>