<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{> includes_top}}

    <title>Elijah | {{page_title}}</title>
</head>
<body data-layout="detached">
    {{> header}}
    <div class="container-fluid">
        <div class="wrapper">
            {{> manager_navigation}}
            <!-- PAGE CONTAINER-->
                <div class="content-page">
                    <div class="content content-main">
                    <div class="loadings hidden"></div>
                        {{{body}}}
                    </div>
                    {{> footer}}
                </div>
        </div>
    </div>

    {{> modals}}
    {{> notify}}
    {{> includes_bottom}}
<!-- bundle -->
<script>
    
</script>
</body>

</html>