<div _ngcontent-oed-c3="" id="spinner" class="backdrop ng-star-inserted" style="opacity: 0.7;">
    <!----><!----><!----><!----><!----><!----><!----><sk-three-bounce _ngcontent-oed-c3="" _nghost-oed-c10=""
        class="ng-star-inserted">
        <div _ngcontent-oed-c10="" class="sk-three-bounce">
            <div _ngcontent-oed-c10="" class="sk-child sk-bounce1" style="background-color: rgb(255, 0, 0);"></div>
            <div _ngcontent-oed-c10="" class="sk-child sk-bounce2" style="background-color: rgb(255, 0, 0);"></div>
            <div _ngcontent-oed-c10="" class="sk-child sk-bounce3" style="background-color: rgb(255, 0, 0);"></div>
        </div>
    </sk-three-bounce><!----><!----></div>