<div id="accordion" class="accordion bg-light">
    <div class="mb-0" id="sales">

    </div>
</div>
<div class="row mt-2">
    <div class="col-md-6 form-group">
        <label for="amount">received amount</label>
        <input type="number" name="amount" id="amount" class="form-control" />
    </div>

    <div class="col-md-6 form-group">
        <label for="amount">check out</label>
        <a href="#" name="amount" id="amount" class="form-control btn btn-info">sale</a>
    </div>
</div>