<form method="POST" class="d-block ajaxForm" action="/grades/create" enctype="multipart/form-data">
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="grade">Grade</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="grade" required>
        </div>

        <div class="form-group col-md-12">
            <label for="grade_points">Grade point</label>
            <input type="number" class="form-control" id="grade_points" name="grade_points" placeholder="Grade point"
                required>
        </div>

        <div class="form-group col-md-12">
            <label for="marks_from">marks from</label>
            <input type="number" class="form-control" id="marks_from" name="marks_from" placeholder="marks from"
                required>
        </div>

        <div class="form-group col-md-12">
            <label for="marks_to">marks to</label>
            <input type="number" class="form-control" id="marks_to" name="marks_to" placeholder="marks upto" required>
        </div>

        <div class="form-group  col-md-12">
            <button class="btn btn-block btn-primary" type="submit">
                create grade
            </button>
        </div>
    </div>
</form>

<script>
    $(".ajaxForm").validate({}); // Jquery form validation initialization
    $(".ajaxForm").submit(function (e) {
        var form = $(this);
        ajaxSubmit(e, form, "POST", showAllGrades);
    });
</script>