<form method="POST" class="d-block ajaxForm" action="/vehicles/edit/{{vehicle.id}}">
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="registration">
                Vehicle Reg
            </label>
            <input type="text" class="form-control" value="{{vehicle.registration}}" id="registration"
                name="registration" required>
            <small id="" class="form-text text-muted">
                vehicle registration
            </small>
        </div>
        <div class="form-group col-md-12">
            <label for="name">
                Vehicle name
            </label>
            <input type="text" value="{{vehicle.name}}" class="form-control" id="name" name="name" required>
            <small id="" class="form-text text-muted">
                vehicle name
            </small>
        </div>
        <div class="form-group col-md-12">
            <label for="capacity">
                Vehicle capacity
            </label>
            <input type="text" value="{{vehicle.capacity}}" class="form-control" id="capacity" name="capacity" required>
            <small id="" class="form-text text-muted">
                vehicle capacity
            </small>
        </div>

        <div class="form-group mt-2 col-md-12">
            <button class="btn btn-block btn-primary" type="submit">
                update vehicle
            </button>
        </div>
    </div>
</form>

<script>
    $(".ajaxForm").validate({}); // Jquery form validation initialization
    $(".ajaxForm").submit(function (e) {
        var form = $(this);
        ajaxSubmit(e, form, "POST", showAllvehicles);
    });


// initCustomFileUploader();
</script>